/* Color palette:
#6f3e76
#805a8c
#ba9bbf
#f3f3f3
#bf9994
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
}

:root {
  --gradient-offer: linear-gradient(
    to right,
    rgba(111, 62, 118, 0.6),
    rgba(186, 155, 191, 0.6)
  );
  --gradient-offer-hover: linear-gradient(
    to right,
    rgba(111, 62, 118, 0.8),
    rgba(186, 155, 191, 0.8)
  );
  --gradient-media-odd: linear-gradient(
    to top,
    rgba(191, 153, 148, 0.8),
    rgba(243, 243, 243, 0.8) 40%,
    rgba(243, 243, 243, 0.8) 60%,
    rgba(191, 153, 148, 0.8)
  );
  --gradient-media-even: linear-gradient(
    to top,
    rgba(186, 155, 191, 0.8),
    rgba(243, 243, 243, 0.8) 40%,
    rgba(243, 243, 243, 0.8) 60%,
    rgba(186, 155, 191, 0.8)
  );
  --gradient-card-back: linear-gradient(
    to top,
    rgba(128, 128, 128, 0.8),
    rgba(128, 128, 128, 0.6)
  );
}

body {
  position: relative;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Nagłówek i menu */

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(5vw - 4rem);
  background-color: #805a8c;
  color: white;
  width: 100%;
  z-index: 2000000;
  transition: 0.3s linear;
}

header .title {
  width: 25vw;
  text-align: center;
  transition: 0.2s ease-out;
}

header .title__logo {
  height: 8rem;
  background-color: #f3f3f3;
  transition: 0.3s linear;
}

header .title a {
  font-size: 2.2rem;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: white;
  min-width: max-content;
  transition: 0.2s ease-in;
}

header nav ul {
  display: flex;
  width: 65vw;
  justify-content: flex-end;
  height: 8rem;
  transition: 0.3s linear;
}

header.narrow {
  background-color: #ba9bbf;
}

header.narrow nav ul {
  height: 4rem;
  width: 85vw;
}

header.narrow .title__logo {
  height: 4rem;
}

header.narrow .title a {
  font-size: 0;
}

header nav ul li {
  list-style: none;
  transition: 0.3s linear;
}

.burger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  width: 3vw;
  min-height: 8rem;
  line-height: 8rem;
  padding-left: 14vw;
  transition: 0.3s linear;
}

.burger-menu--icon {
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translateY(-50%);
  width: inherit;
  height: 2rem;
  transition: 0.2s linear;
}

.burger-menu--icon .menu__line {
  position: absolute;
  left: inherit;
  width: inherit;
  font-size: 0.4rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 5px;
  transition: top 0.2s 0.2s linear, bottom 0.2s 0.2s linear,
    opacity 0.2s 0.2s linear, transform 0.2s 0.4s linear;
}

.burger-menu--icon .menu__line--1 {
  top: 0;
}

.burger-menu--icon .menu__line--2 {
  top: calc(50% - 0.25rem);
}

.burger-menu--icon .menu__line--3 {
  bottom: 0;
}

.burger-menu.active .burger-menu--icon {
  transform: rotate(-90deg) translateX(50%);
}

.burger-menu.active .menu__line--1 {
  top: calc(50% - 0.25rem);
  transform: rotate(45deg);
}

.burger-menu.active .menu__line--2 {
  opacity: 0;
}

.burger-menu.active .menu__line--3 {
  top: calc(50% - 0.25rem);
  transform: rotate(-45deg);
}

header nav ul li .menu-link {
  line-height: 8rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  padding: 0 2rem;
  border: 1px solid #805a8c;
  border-radius: 1.5rem;
  transition: 0.3s;
}

.menu-link.active {
  color: #805a8c;
  background-color: #fff;
}

header.narrow .menu-link {
  line-height: 4rem;
  border-color: #ba9bbf;
}

.menu-link:hover {
  color: #805a8c;
  background-color: #fff;
}

/* video i baner - strona główna */

section {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.message-start {
  position: absolute;
  z-index: 1;
  color: #6f3e76;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0;
  font-weight: bold;
  top: calc(50% + 4rem);
  transform: translateY(-50%);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.message1 {
  animation: message 12s infinite;
}

.message2 {
  animation: message 12s 4s infinite;
}

.message3 {
  animation: message 12s 8s infinite;
}

@keyframes message {
  0% {
    opacity: 0;
    font-size: 0;
  }

  2.5% {
    opacity: 0;
    font-size: 0;
  }

  5% {
    opacity: 1;
    font-size: 8rem;
  }

  28.33% {
    opacity: 1;
    font-size: 8rem;
  }

  30.83% {
    opacity: 0;
    font-size: 0;
  }

  33.33% {
    opacity: 0;
    font-size: 0;
  }

  100% {
    opacity: 0;
    font-size: 0;
  }
}

.video-start {
  /* width: 100%; */
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  opacity: 0.9;
}

/* Zasadnicza treść strony głównej i uniwersalia */

main > div {
  float: left;
  font-size: 2rem;
  text-align: left;
  line-height: 200%;
  width: 35vw;
  height: auto;
  min-height: 40vh;
}

.landing-page__intro {
  float: none;
  width: 86vw;
  text-align: center;
  margin: 4vh 7vw;
  font-size: 2.5rem;
  min-height: 20vh;
  font-weight: bold;
  line-height: 300%;
}

.landing-page__wrapper {
  margin: 0 auto;
  float: none;
  width: 86vw;
  display: flex;
  justify-content: space-between;
}

.landing-page {
  display: flex;
  flex-direction: column;
  margin: 3vh auto 8vh;
  width: 40vw;
  padding: 1vw;
  border: 1px solid transparent;
  border-top-color: #ba9bbf;
  border-left-color: #ba9bbf;
}

.landing-page:last-child {
  border: 1px solid transparent;
  border-bottom-color: #ba9bbf;
  border-right-color: #ba9bbf;
}

.landing-page__motto--author {
  font-size: 1.5rem;
  font-style: italic;
}

.landing-page__motto {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 0 0 2.5rem;
  text-align: center;
  min-height: 15vh;
}

.landing-page__desc {
  float: none;
  font-size: 2rem;
  text-align: left;
  line-height: 200%;
  height: auto;
  min-height: 50vh;
  font-size: 2rem;
}

.arrow::before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f139";
  font-weight: 900;
  font-size: 4rem;
  color: #ba9bbf;
}

.arrow {
  z-index: 1000;
  position: fixed;
  bottom: 6vw;
  right: 4vw;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.arrow.on {
  opacity: 1;
}

/* Sylwetka */

.motto {
  margin: 0 0 8vh;
  padding: 12vh 0 0;
  width: 100%;
  height: 12vh;
  min-height: 0;
  background-image: linear-gradient(to bottom, #bf9994 50%, #fff);
  line-height: 200%;
  text-align: center;
}

.motto i {
  font-size: 2.2rem;
}

.motto p {
  text-align: right;
  margin-right: 35vw;
}

.AsiaImg {
  width: 84vw;
  margin: 6vh 7vw 2vh;
  min-height: 30vh;
}

.AsiaImg img {
  float: left;
  height: auto;
  width: 100%;
  max-width: 35vw;
  margin: 0 3vw 1rem 0;
  box-shadow: 0 1.5rem 4rem #bf9994;
}

.about__paragraph--heading {
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
}

.AfterAsiaImg {
  margin: 6vh 7vw;
}

.about__gallery-wrapper {
  text-align: center;
}

.about__gallery {
  width: 86vw;
  margin: 6vh auto;
  display: flex;
  justify-content: space-between;
}

.about__gallery--item {
  box-shadow: 0 1rem 2rem #bf9994;
  transition: 0.2s linear;
}

.about__gallery--item:hover {
  box-shadow: 0 1.5rem 3rem #bf9994;
  transform: scale(1.05);
}

/* subtitle - many pages */

.subtitle {
  width: 100%;
  margin: 0 0 6vh;
  padding: 12vh 0 0;
  height: 18.6vh;
  min-height: 0;
  background-image: linear-gradient(to bottom, #bf9994 50%, #fff);
  line-height: 200%;
  text-align: center;
}

.subtitle h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.subtitle p {
  font-size: 2rem;
}

/* oferta */

.offer {
  display: flex;
  width: 86vw;
  justify-content: space-between;
  margin: 2.6vh 7vw 2vh;
  min-height: 73.1vh;
  max-height: 73.1vh;
}

.offer__column--1 {
  background-image: var(--gradient-offer), url(../img/people-2591874_640.jpg);
  background-size: cover;
  background-position-x: right;
}

.offer__column--1:hover {
  background-image: var(--gradient-offer-hover),
    url(../img/people-2591874_640.jpg);
}

.offer__column--2 {
  background-image: var(--gradient-offer), url(../img/couple-2585328_640.jpg);
  background-size: cover;
  background-position-x: center;
}

.offer__column--2:hover {
  background-image: var(--gradient-offer-hover),
    url(../img/couple-2585328_640.jpg);
}

.offer__column--3 {
  background-image: var(--gradient-offer), url(../img/macbook-2558216_640.jpg);
  background-size: cover;
  background-position-x: center;
}

.offer__column--3:hover {
  background-image: var(--gradient-offer-hover),
    url(../img/macbook-2558216_640.jpg);
}

.offer__column {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 25vw;
  margin: 0 0 6rem;
  padding: 4rem 2rem 0;
  float: none;
  min-height: 60vh;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s linear;
  text-align: center;
  box-shadow: 0 1.5rem 4rem #bf9994;
}

.offer__slogan {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 0 0 2.5rem;
  text-align: center;
}

.offer__hilite {
  float: none;
  font-size: 2rem;
  text-align: left;
  line-height: 200%;
  width: auto;
  height: auto;
  min-height: 0;
  text-align: center;
}

.offer__details {
  margin-top: 3rem;
  padding: 1rem;
  transform: translateY(230%);
  display: table;
}

.offer__details--group {
  display: table-cell;
  list-style: none;
  font-size: 1.6rem;
  width: 50%;
}

.offer__details--issue {
  line-height: 150%;
  padding-left: 2rem;
  text-align: left;
  font-size: 1.4rem;
}

.offer__details--issue:first-child {
  margin-top: 1rem;
}

.offer__details--issue::before {
  content: "\00BB \0020";
  font-size: 1.8rem;
}

.pricelist {
  margin: 6rem 0;
  width: auto;
  min-height: auto;
  background-color: #bf9994;
  border-radius: 2rem;
  transform: translateY(600%);
  font-size: 2rem;
}

.price-value {
  font-weight: 700;
  background-color: #bf9994;
}

.active {
  flex: 3;
}

.offer__column.revealed > .offer__details {
  transform: translateY(0);
  background-color: rgba(243, 243, 243, 0.4);
  border-radius: 2rem;
}

.offer__column.revealed > *:nth-last-child(1) {
  transform: translateY(0);
}

/* media */

.media__wrapper {
  margin: 0 5vw 13.3vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  min-height: 59.8vh;
  max-height: 59.8vh;
  justify-content: center;
}

.media__card {
  perspective: 150rem;
  margin: 0 2vw;
  min-height: 0;
  max-height: 0;
  height: 59.8vh;
  width: 22vw;
  position: relative;
}

.media__card:hover .media__card--front {
  transform: rotateY(-180deg);
}

.media__card:hover .media__card--back {
  transform: rotateY(0);
}

.media__card--img {
  height: 6vh;
}

.media__card--side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 60vh;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: cover;
  box-shadow: 0 1.5rem 4rem #bf9994;
}

.media__card--title {
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 3.5rem;
  line-height: 100%;
}

.media__card--zwierciadlo {
  background-image: var(--gradient-media-odd),
    url("../img/pexels-photo-698158.jpeg");
}

.media__card--onet {
  background-image: var(--gradient-media-even),
    url("../img/pexels-photo-977845.jpeg");
}

.media__card--sens {
  background-image: var(--gradient-media-odd),
    url("../img/fashion-coffee-time-lifestyle.jpg");
}

.media__card--other {
  background-image: var(--gradient-media-even),
    url("../img/flower-791829_640.jpg");
}

.media__card--zwierciadlo-bl {
  background-image: var(--gradient-card-back),
    url("../img/pexels-photo-698158.jpeg");
  background-blend-mode: darken;
}

.media__card--onet-bl {
  background-image: var(--gradient-card-back),
    url("../img/pexels-photo-977845.jpeg");
  background-blend-mode: darken;
}

.media__card--sens-bl {
  background-image: var(--gradient-card-back),
    url("../img/fashion-coffee-time-lifestyle.jpg");
  background-blend-mode: darken;
}

.media__card--other-bl {
  background-image: var(--gradient-card-back),
    url("../img/flower-791829_640.jpg");
  background-blend-mode: darken;
}

.media__card--back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.media__card--link {
  text-decoration: none;
  color: #805a8c;
  font-size: 2rem;
  margin: 0.5rem 0.5rem 0;
  padding: 0.5rem 2rem;
  background-color: #f3f3f3;
  opacity: 0.8;
  border-radius: 1rem;
  text-align: center;
  line-height: 150%;
}

.media__card--link:hover {
  background-color: #805a8c;
  color: #f3f3f3;
}

/* blog */

/* .blog {
  max-width: 70vw;
  margin: 1rem 7vw 4rem;
  line-height: 200%;
  width: 70vw;
  height: auto;
  min-height: 100vh;
}

.blog main {
  width: 67%;
  float: left;
  padding: 0 2rem;
}

.blog article {
  margin-bottom: 2rem;
}

.blog article:not(:last-child) {
  border-bottom: 1px solid #805a8c;
}

.blog article img {
  width: 20rem;
  float: left;
  margin: 2rem 2rem 2rem 0;
}

.blog article h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  color: #805a8c;
}

.blog article p {
  font-size: 1.8rem;
  margin-top: 2rem;
  text-align: justify;
}

.blog article .read-more {
  font-size: 1.8rem;
  background-color: #805a8c;
  line-height: 8rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0 2rem;
  border: 1px solid #805a8c;
  border-radius: 1.5rem;
  transition: 0.3s;
}
.blog article .read-more:hover {
  background-color: white;
  color: #805a8c;
}

.blog-list {
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.blog-list nav {
  float: left;
}

.blog-list nav ul {
  list-style: none;
}

.blog-list nav h3 {
  font-size: 2rem;
  margin: 10.7rem 0 2rem;
}

.blog-list nav li {
  margin: 1.5rem auto;
  transition: all 0.2s;
}

.blog-list nav li:hover {
  transform: scale(1.2);
  font-weight: 700;
}

.blog-list nav a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #805a8c;
} */

/* kontakt */

.contact__it {
  width: 100%;
  height: 10rem;
  min-height: 0px;
  text-align: center;
  margin: 0;
  padding: 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__it--channel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 10rem;
  width: 40vw;
}

.contact__it--mail {
  margin-right: 5rem;
}

.contact__it--link {
  font-size: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  color: black;
}

.contact__it--link:hover {
  color: #6f3e76;
}

.contact__it--channel:hover {
  background-color: #f3f3f3;
  border-radius: 2rem;
}

.contact__address {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding-left: 0;
  padding-right: 0;
  align-content: center;
  margin: 10vh 7vw 10vh;
  text-align: center;
}

.contact__address--heading {
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
}

.contact__address--details {
  margin-bottom: 4rem;
}

#contact__map--leg,
#contact__map--waw {
  height: 35vw;
  width: 35vw;
  box-shadow: 0 1.5rem 4rem #bf9994;
}

#contact__map--waw {
  margin-top: 0;
}

/* stopka */

footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  min-height: 3vh;
  margin-top: -3vh;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  background-image: linear-gradient(to top, #bf9994, #fff);
}

@media (max-width: 1500px) and (orientation: landscape) {
  .motto {
    margin-bottom: 6vh;
    padding-top: 12vh;
  }

  .subtitle {
    margin-bottom: 3.6vh;
    padding-top: 12vh;
  }

  .about__gallery {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__gallery-wrapper {
    margin-top: 6vh;
  }

  .about__gallery--item {
    margin: 2vw;
  }

  .about__gallery--item img {
    max-width: 18vw;
  }

  .offer {
    min-height: 75vh;
    max-height: 75vh;
  }

  .media__wrapper {
    min-height: 75vh;
    max-height: 75vh;
    height: 75vh;
    margin-bottom: 0.5vh;
  }

  .media__card--side {
    height: 70vh;
    min-height: 70vh;
  }

  .media__card--img {
    height: 5vh;
  }

  .media__card--link {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  .contact__address {
    min-height: 50vh;
    margin: 2vh 7vw 5vh;
  }
  footer {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }

  .AfterAsiaImg {
    margin-bottom: 1vh;
  }

  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  html {
    font-size: 9px;
  }

  @keyframes message {
    0% {
      opacity: 0;
      font-size: 0;
    }

    2.5% {
      opacity: 0;
      font-size: 0;
    }

    5% {
      opacity: 1;
      font-size: 6rem;
    }

    28.33% {
      opacity: 1;
      font-size: 6rem;
    }

    30.83% {
      opacity: 0;
      font-size: 0;
    }

    33.33% {
      opacity: 0;
      font-size: 0;
    }

    100% {
      opacity: 0;
      font-size: 0;
    }
  }

  header {
    padding-right: 0;
  }

  header .title {
    width: 35vw;
  }

  header nav ul {
    width: 30vw;
    flex-direction: column;
    justify-content: end;
    align-content: center;
  }

  header nav ul li {
    background-color: #805a8c;
    display: none;
    transition: display 0.3s linear;
  }

  header nav ul li .menu-link {
    line-height: 0;
    font-size: 0;
    border: none;
    transition: 0.3s linear;
  }

  .burger-menu {
    display: block;
    padding-left: 22vw;
  }

  .burger-menu.active ~ li {
    position: relative;
    display: block;
    width: 30vw;
    text-align: center;
    transition: 0.3s linear;
  }

  .burger-menu.active ~ li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.5px;
    width: 80%;
    border-top: 0.5px solid #fff;
  }

  .burger-menu.active ~ li .menu-link {
    line-height: 8rem;
    font-size: 2rem;
  }

  header.narrow .burger-menu {
    min-height: 4rem;
    line-height: 4rem;
  }

  header.narrow .burger-menu.active {
    min-height: 4rem;
    line-height: 4rem;
  }

  header.narrow .burger-menu.active ~ li .menu-link {
    line-height: 8rem;
    font-size: 2rem;
    border: 1px solid #ba9bbf;
  }

  header.narrow nav ul {
    align-items: flex-start;
    height: 4rem;
    width: 30vw;
  }

  header.narrow .title a {
    font-size: 2rem;
  }

  header.narrow nav ul li {
    background-color: #ba9bbf;
  }

  header.narrow .burger-menu.active .burger-menu--icon {
    transform: rotate(-90deg) translateX(75%);
  }

  header.narrow .burger-menu.active .menu__line--1 {
    top: calc(50% - 0.25rem);
    transform: rotate(45deg);
  }

  header.narrow .burger-menu.active .menu__line--2 {
    opacity: 0;
  }

  header.narrow .burger-menu.active .menu__line--3 {
    top: calc(50% - 0.25rem);
    transform: rotate(-45deg);
  }

  section {
    height: 50vh;
  }

  main > div {
    width: 86vw;
    min-height: 0vh;
  }

  .landing-page__wrapper {
    flex-direction: column;
    justify-content: center;
    min-height: 0vh;
    height: 70vh;
  }

  .landing-page {
    justify-content: flex-start;
    width: 86vw;
    margin: 4vh auto;
    height: 30vh;
  }

  .landing-page__motto {
    min-height: 0;
  }

  .landing-page__desc {
    width: 84vw;
    min-height: 0;
  }

  .motto {
    margin-bottom: 2vh;
    padding-top: 8vh;
    height: 14vh;
  }

  .AsiaImg {
    min-height: 30vh;
    margin-top: 0;
  }

  .AsiaImg img {
    max-width: 86vw;
    margin-bottom: 4vh;
  }

  .AfterAsiaImg {
    margin: 0 7vw 4vh;
  }

  .about__gallery {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__gallery--item {
    margin: 2vw;
  }

  .about__gallery--item img {
    max-width: 18vw;
  }

  .subtitle {
    margin-bottom: 3vh;
    padding-top: 8vh;
    height: 12vh;
  }

  .offer {
    margin-top: 0vh;
    flex-direction: column;
    min-height: 110vh;
    max-height: 0;
    height: 110vh;
  }

  .offer__column {
    width: 86vw;
    min-height: 0vh;
  }

  .offer__column--1 {
    background-position: center center;
  }

  .offer__column--2 {
    background-position-y: bottom;
  }

  .offer__column--3 {
    background-position-y: top;
  }

  .media__wrapper {
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;
    margin-bottom: 2.9vh;
  }

  .media__card {
    width: 86vw;
    min-height: 21vh;
  }

  .media__card:hover .media__card--front {
    transform: rotateX(180deg);
  }

  .media__card:hover .media__card--back {
    transform: rotateX(0);
  }

  .media__card--side {
    height: 15vh;
    transition: all 1s ease;
  }

  .media__card--zwierciadlo,
  .media__card--zwierciadlo-bl,
  .media__card--onet,
  .media__card--onet-bl {
    background-position-y: center;
  }

  .media__card--back {
    transform: rotateX(180deg);
  }

  .media__card--link {
    padding: 0.25rem 2rem;
  }

  .contact__it {
    flex-direction: column;
  }

  .contact__it--mail {
    margin-right: 0;
  }

  .contact__address {
    margin: 5vh;
    width: 86vw;
  }

  .contact__address--leg {
    margin-bottom: 0;
  }

  #contact__map--leg {
    height: 86vw;
    width: 86vw;
  }

  #contact__map--waw {
    height: 86vw;
    width: 86vw;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  html {
    font-size: 6px;
  }

  header {
    padding-right: 0;
  }

  header nav ul {
    width: 30vw;
    flex-direction: column;
    justify-content: end;
    align-content: center;
  }

  header nav ul li {
    background-color: #805a8c;
    display: none;
    transition: display 0.3s linear;
  }

  header nav ul li .menu-link {
    line-height: 0;
    font-size: 0;
    border: none;
    transition: 0.3s linear;
  }

  header .title {
    width: 40vw;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu--icon {
    right: -90%;
  }

  .burger-menu.active ~ li {
    position: relative;
    display: block;
    width: 30vw;
    text-align: center;
    transition: 0.3s linear;
  }

  .burger-menu.active ~ li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.5px;
    width: 80%;
    border-top: 0.5px solid #fff;
  }

  .burger-menu.active ~ li .menu-link {
    line-height: 8rem;
    font-size: 2rem;
  }

  header.narrow .burger-menu {
    min-height: 4rem;
    line-height: 4rem;
  }

  header.narrow .burger-menu.active ~ li .menu-link {
    line-height: 8rem;
    font-size: 2rem;
    border: 1px solid #ba9bbf;
  }

  header.narrow nav ul {
    align-items: flex-start;
    height: 4rem;
    width: 30vw;
  }

  header.narrow .title a {
    font-size: 2rem;
  }

  header.narrow nav ul li {
    background-color: #ba9bbf;
  }

  .landing-page__wrapper {
    flex-direction: column;
  }

  .landing-page {
    height: 70vh;
    width: 86vw;
    margin: 8vh auto;
  }

  .landing-page__desc {
    width: 84vw;
    float: none;
  }

  .motto {
    margin-bottom: 12vh;
    padding-top: 16vh;
  }

  .subtitle {
    margin-bottom: 10vh;
    padding-top: 15vh;
  }

  .AfterAsiaImg {
    width: 84vw;
  }

  .offer {
    flex-direction: column;
    min-height: 160vh;
    max-height: 0;
    height: 160vh;
  }

  .offer__column {
    width: 86vw;
    min-height: 0vh;
    margin-bottom: 3rem;
  }

  .offer__hilite {
    font-size: 1.5rem;
    line-height: 150%;
  }

  .offer__details {
    line-height: 150%;
  }

  .offer__column.revealed > .pricelist {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  .media__wrapper {
    min-height: 67.6vh;
    height: 67.6vh;
    margin-bottom: 0vh;
  }

  .media__card--side {
    height: 60vh;
    min-height: 60vh;
  }

  .media__card--title {
    font-size: 2.5rem;
  }

  .media__card--link {
    font-size: 1.5rem;
  }

  .contact__it--icon {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 1000px) and (orientation: portrait) {
  header .title {
    width: 50vw;
  }

  .landing-page__wrapper {
    margin-top: 8vh;
    height: 108vh;
  }

  .landing-page {
    height: 48vh;
  }

  .motto {
    margin-bottom: 4vh;
    padding-top: 9vh;
    height: 16vh;
    line-height: 150%;
  }

  .motto i {
    display: block;
    width: 65vw;
    margin: 0 17.5vw;
  }

  .subtitle {
    margin-bottom: 1vh;
    padding-top: 10vh;
    height: 16vh;
  }

  .offer {
    flex-direction: column;
    min-height: 120vh;
    max-height: 0;
    height: 120vh;
  }

  .offer__column.revealed > .pricelist {
    margin-top: 2.5rem;
  }

  .media__wrapper {
    min-height: 78vh;
    height: 78vh;
    margin-bottom: 2.8vh;
  }

  .media__card {
    min-height: 17vh;
  }

  .media__card--side {
    height: 17vh;
  }

  /* .blog-list {
    position: fixed;
    top: 50%;
    right: -24%;
    color: black;
    background-color: #ba9bbf;
    border-radius: 1rem;
    transform: rotate(-90deg) translateY(-50%);
    transition: 0.3s ease-out;
  }

  .blog-list nav h3 {
    margin: 0 1rem 2rem;
  }

  .blog-list.active {
    right: 5%;
    transform: rotate(0);
    background-color: #fff;
  }

  .blog-list.active nav h3 {
    margin: 0 0 2rem;
    color: black;
  } */

  .contact__it {
    padding-top: 4vh;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  html {
    font-size: 6px;
  }

  .landing-page__wrapper {
    height: inherit;
  }

  .landing-page {
    justify-content: center;
    height: 100vh;
  }

  .landing-page__motto {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }

  .AfterAsiaImg:nth-last-child(2) {
    margin: 4vh 7vw 2vh;
  }

  .AfterAsiaImg:last-child {
    margin-bottom: 4vh;
  }

  .subtitle {
    margin-bottom: 6vh;
    padding-top: 19vh;
    height: 26vh;
  }

  .offer {
    flex-direction: column;
    min-height: 160vh;
    max-height: 0;
    height: 160vh;
  }

  .offer__column {
    width: 86vw;
    min-height: 0vh;
  }

  .offer__column--1 {
    background-position: center center;
  }

  .offer__column--2 {
    background-position-y: bottom;
  }

  .offer__column--3 {
    background-position-y: top;
  }

  .offer__column.active {
    flex: 3.4;
  }

  .offer__column.revealed > .offer__details {
    margin-top: 1.5rem;
  }

  .offer__column.revealed > .offer__slogan {
    padding-bottom: 1rem;
  }

  .media__wrapper {
    flex-direction: column;
    justify-content: space-between;
    min-height: 130vh;
    max-height: 130vh;
    height: 130vh;
    margin-bottom: 8vh;
  }

  .media__card {
    width: 86vw;
    min-height: 28vh;
  }

  .media__card:hover .media__card--front {
    transform: rotateX(180deg);
  }

  .media__card:hover .media__card--back {
    transform: rotateX(0);
  }

  .media__card--side {
    min-height: 29vh;
    height: 29vh;
    transition: all 1s ease;
  }

  .media__card--zwierciadlo,
  .media__card--zwierciadlo-bl,
  .media__card--onet,
  .media__card--onet-bl {
    background-position-y: center;
  }

  .media__card--img {
    height: 6vh;
  }

  .media__card--back {
    transform: rotateX(180deg);
  }

  .media__card--link {
    font-size: 1.2rem;
    padding: 0.25rem 2rem;
  }

  .contact__it {
    padding-top: 8vh;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  html {
    font-size: 7px;
  }

  header .title {
    width: 55vw;
  }

  header nav ul {
    width: 40vw;
  }

  header.narrow nav ul {
    width: 40vw;
  }

  .burger-menu {
    padding-left: 32vw;
  }

  .burger-menu.active ~ li {
    width: 40vw;
  }

  .burger-menu.active .burger-menu--icon {
    transform: rotate(-90deg) translateX(50%);
  }

  .burger-menu.active .menu__line--1 {
    top: calc(50% - 0.15rem);
  }

  .burger-menu.active .menu__line--3 {
    top: calc(50% - 0.15rem);
  }

  .landing-page__wrapper {
    height: 150vh;
  }

  .landing-page {
    height: 70vh;
  }

  .motto {
    margin-bottom: 4vh;
    height: 18.6vh;
    line-height: 150%;
  }

  .subtitle {
    margin-bottom: 2vh;
    padding-top: 8vh;
    height: 13.8vh;
  }

  .offer {
    min-height: 150vh;
    height: 150vh;
  }

  .media__wrapper {
    margin-bottom: 4vh;
  }

  .blog-list {
    right: -27.5%;
  }

  .blog-list.active {
    right: 3%;
  }
  .contact__it {
    justify-content: space-between;
    height: 30rem;
    padding-top: 0vh;
  }

  .contact__it--channel {
    height: 15rem;
    width: 70vw;
  }

  #contact__map--leg {
    height: 82vw;
    width: 82vw;
  }

  #contact__map--waw {
    height: 82vw;
    width: 82vw;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  html {
    font-size: 6px;
  }

  header.narrow .title__logo {
    height: 6rem;
  }

  header.narrow .burger-menu.active .burger-menu--icon {
    transform: rotate(-90deg) translateX(100%);
  }

  header.narrow .burger-menu.active .menu__line--1 {
    top: calc(50% - 0.25rem);
  }

  header.narrow .burger-menu.active .menu__line--3 {
    top: calc(50% - 0.25rem);
  }

  header.narrow .offer__column > *:nth-last-child(2) {
    transform: translateY(150%);
  }

  .landing-page__wrapper {
    height: 145vh;
  }

  .landing-page {
    height: 67vh;
  }

  .about__gallery--item {
    max-width: 39vw;
  }

  .pricelist {
    transform: translateY(200%);
  }

  .offer__column.active {
    flex: 2;
  }

  .blog-list {
    right: -26%;
  }

  .media__wrapper {
    margin-bottom: 3.8vh;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .landing-page__wrapper {
    height: 185vh;
  }

  .landing-page {
    height: 87vh;
  }

  .subtitle {
    margin-bottom: 3vh;
    padding-top: 9vh;
    height: 13vh;
  }

  .motto {
    padding-top: 10vh;
    margin-bottom: 4vh;
    height: 21vh;
  }

  .motto i {
    width: 75vw;
    margin: 0 12.5vw;
  }

  .offer {
    min-height: 170vh;
    height: 170vh;
  }

  .offer__column {
    line-height: 150%;
  }

  .offer__column.active {
    flex: 3;
  }

  .media__wrapper {
    justify-content: space-around;
    min-height: 130vh;
    max-height: 130vh;
    height: 130vh;
  }

  .media__card {
    height: 65vh;
    min-height: 25vh;
  }

  .media__card--side {
    height: 25vh;
  }

  .blog-list {
    right: -30%;
  }

  .blog-list.active {
    right: 2%;
  }
}
